*.class
*.jar

.idea/
.classpath
.project
.settings/
.factorypath

/target/
/bin/
/out/

/lib/
/target/
/build/

/generated/
/generated-sources/
/generated-test-sources/

.DS_Store
Thumbs.db

*.log

/temp/
/temp-*/

/config.properties
/application.properties



